// COLOR CUBE

$white: #ffffff;
$marshland: #020201;
$cardinal: #cc1a26;
$zest: #e4862a;
$pickledBean: #6b4328;
$silver: #dbdbdb;
$hemp: #917979;
$deepSeeGreen: #0d4f5c;
$goldenrod: #fcd66c;
$pictonBlue: #42a3ef;

// MEDIAN CUT

$myPink: #d49f7f;
$nightRider: #231712;
$muleFawn: #8a6430;
$mantle: #8f9894;
$lynch: #5e7b95;

// MATERIAL DESIGN

$muddyWaters: #be855f;
$hoki: #5d7a95;
$matCardinal: #bf1e23;
$emperor: #555454;
$tan: #cead8c;